#approve {
  background-color: green;
}
#deny {
  background-color: red;
}
.btn {
  margin-top: 20px;
  margin-left: 50px;
  width: 150px;
}
.back {
  text-align: left;
  position: fixed;
  bottom: 10px;
}

h2{
  margin: 27px 0;
}
h3{
  margin-bottom: 27px;
}
#calendar_div{
  margin-top: 50px;
  margin-left: 15px;
  margin-right: 15px;
  margin-bottom: 50px;
}

#schedule_div{
  width: 200px;
  margin-top: -7px;
}

button:focus{
  outline: none !important;
}

button{
  border: 0px;
  display: inline;
}

