<h4 *ngIf="leaseService.leaseInfo.customerType === 'Private'"><b>Customer: </b>{{leaseService.leaseInfo.firstName}} {{leaseService.leaseInfo.lastName}}</h4>
<h4 *ngIf="leaseService.leaseInfo.customerType === 'Business'"><b>Customer: </b>{{leaseService.leaseInfo.companyName}} {{leaseService.leaseInfo.companyCode}}</h4>
<!--<div class="row first col-lg-12 col-md-12 col-sm-12 col-xs-12">-->
  <!--<div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">CUSTOMER TYPE</div>-->
  <!--<div class="col-lg-8 col-md-6 col-sm-6 col-xs-12 borderdiv">{{response.customerType}}</div>-->
<!--</div>-->
<!--<div class="row second col-lg-12 col-md-12 col-sm-12 col-xs-12">-->
  <!--<div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">ASSET TYPE</div>-->
  <!--<div class="col-lg-8 col-md-6 col-sm-6 col-xs-12 borderdiv">{{response.assetType}}</div>-->
<!--</div>-->
<!--<div class="row first col-lg-12 col-md-12 col-sm-12 col-xs-12">-->
  <!--<div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">BRAND</div>-->
  <!--<div class="col-lg-8 col-md-6 col-sm-6 col-xs-12 borderdiv">{{response.brand}}</div>-->
<!--</div>-->
<!--<div class="row second col-lg-12 col-md-12 col-sm-12 col-xs-12">-->
  <!--<div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">MODEL</div>-->
  <!--<div class="col-lg-8 col-md-6 col-sm-6 col-xs-12 borderdiv">{{response.model}}</div>-->
<!--</div>-->
<!--<div class="row first col-lg-12 col-md-12 col-sm-12 col-xs-12">-->
  <!--<div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">YEAR</div>-->
  <!--<div class="col-lg-8 col-md-6 col-sm-6 col-xs-12 borderdiv">{{response.year}}</div>-->
<!--</div>-->
<!--<div class="row second col-lg-12 col-md-12 col-sm-12 col-xs-12">-->
  <!--<div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">ENGINE POWER  </div>-->
  <!--<div class="col-lg-8 col-md-6 col-sm-6 col-xs-12 borderdiv">{{response.enginePower}} kW</div>-->
<!--</div>-->
<!--<div class="row first col-lg-12 col-md-12 col-sm-12 col-xs-12">-->
  <!--<div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">ASSET PRICE </div>-->
  <!--<div class="col-lg-8 col-md-6 col-sm-6 col-xs-12 borderdiv"> {{response.assetPrice}} €</div>-->
<!--</div>-->
<!--<div class="row second col-lg-12 col-md-12 col-sm-12 col-xs-12">-->
  <!--<div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">ADVANCE PAYMENT PERCENTAGE</div>-->
  <!--<div class="col-lg-8 col-md-6 col-sm-6 col-xs-12 borderdiv">{{response.advancePaymentPercentage}} %</div>-->
<!--</div>-->
<!--<div class="row first col-lg-12 col-md-12 col-sm-12 col-xs-12">-->
  <!--<div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">ADVANCE PAYMENT AMOUNT</div>-->
  <!--<div class="col-lg-8 col-md-6 col-sm-6 col-xs-12 borderdiv">{{response.advancePaymentAmount}} €</div>-->
<!--</div>-->
<!--<div class="row second col-lg-12 col-md-12 col-sm-12 col-xs-12">-->
  <!--<div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">LEASE PERIOD </div>-->
  <!--<div class="col-lg-8 col-md-6 col-sm-6 col-xs-12 borderdiv">{{response.leasePeriod}}</div>-->
<!--</div>-->
<!--<div class="row first col-lg-12 col-md-12 col-sm-12 col-xs-12">-->
  <!--<div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">MARGIN </div>-->
  <!--<div class="col-lg-8 col-md-6 col-sm-6 col-xs-12 borderdiv">{{response.margin}} %</div>-->
<!--</div>-->
<!--<div class="row second col-lg-12 col-md-12 col-sm-12 col-xs-12">-->
  <!--<div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">CONTRACT FEE </div>-->
  <!--<div class="col-lg-8 col-md-6 col-sm-6 col-xs-12 borderdiv">{{response.contractFee}} €</div>-->
<!--</div>-->
<!--<div class="row first col-lg-12 col-md-12 col-sm-12 col-xs-12">-->
  <!--<div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">PAYMENT DATE </div>-->
  <!--<div class="col-lg-8 col-md-6 col-sm-6 col-xs-12 borderdiv">{{response.paymentDate}}</div>-->
<!--</div>-->
<!--<div class="status_div col-lg-12 col-md-12 col-sm-12 col-xs-12" *ngIf="infoIsShown && isError">-->
  <!--<h3>Application not found.</h3>-->
<!--</div>-->
