#approve {
  background-color: green;
}
#deny {
  background-color: red;
}
.btn {
  margin-top: 20px;
  margin-left: 50px;
  width: 150px;
}
.back {
  text-align: left;
}

h2{
  margin: 30px 0;
}
.summary {
  position: center;
  margin-left: 400px;
  /*text-align: center;*/
}

button{
  border: 0px;
}

