<div class="OK">
  <div *ngIf="leaseService.leaseObject.customerType == 'Private'" class="container">
    <h4>Dear {{leaseService.customerObject.firstName}} {{leaseService.customerObject.lastName}}</h4>
    <h3 class="text-center">Your application has been accepted and is being processed right now. You should receive the decision within 3 days.</h3>
  </div>
  <div *ngIf="leaseService.leaseObject.customerType == 'Business'" class="container">
    <h3 class="text-center">Your application has been accepted and is being processed right now. You should receive the decision within 5 days.</h3>
  </div>
</div>
