input.ng-invalid.ng-touched, select.ng-invalid.ng-touched {
  /* border: 1px solid red; */
}

.link-div{
  -ms-word-break: break-all;
  word-break: break-all;
  word-break: break-word;

  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 15px;
  border-radius: 5px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #F58321;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #F58321;
  cursor: pointer;
}

#address{
  /* margin: 8px 0 0 0; */
  font-size: 14px;
}

.form-check{
  margin-top : 10px;
}

.btn{
  background-color: #F58321;
  color: white;
  min-width: 80px;
  font-family: 'Exo';
  margin-left: 26%;
  margin-bottom: 4%;
}

.button-group{
  margin: 15px 90px;
}

#phoneNumber{
  display: inline !important;
}

/* pagrindines formos stilius */

.container{
  margin-top: 1%;
  width: 70%;
  border-radius: 1%;
  border: 3px solid #F58321;
  background-color: rgb(255, 255, 255);
}

form{
  padding-top: 2%;
}

.customerType{
  font-size: 18px;
}

.dropDown label{
  font-family: 'Roboto';
  font-size: 14px;
  font-weight: normal;
  margin: 0%;
  padding: 0%;
  padding-top: 2.3%;
  /* height: auto; */
}

label{
  font-family: 'Roboto';
  font-size: 14px;
  font-weight: normal;
  margin: 0%;
  padding: 0%;
  padding-top: 0%;
  /* height: auto; */
}

input,select{
  font-family: 'Roboto';
  border: none;
  box-shadow: none;
  padding: 0%;
  border-radius: 0%;

  /* height: 110%; */

  /* font-size: 14px; */
}

span{
  float:right;
}
.form-group {
  border-bottom: 1px solid #F58321;
  margin: 0%;
  padding-top:2%;

}

.notBorder{
  border-bottom: none;

}

.type{
  margin-bottom: 2.5%;

}
.typetext{
  font-size: 19px;
}

.form-group div{
  padding: 0%;
}

.form-control:focus {
  border-color: inherit;
  -webkit-box-shadow: none;
  box-shadow: none;
}

div input{
  border-bottom: none;
}

.radioBlock{
  margin-top: 2.5%;
  margin-bottom: 2.5%;
  display: block;

}
.radioInline{
  margin-right: 5%;


}
label > input {
  display: none;
}

label > i {
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin-right: 5px;
  vertical-align: middle;
  border: 2px solid #F58321;
  box-shadow: inset 0 0 0 4px rgb(255, 255, 255);
  transition: .25s;
}

label > input:checked + i {
  background: #F58321;
}

label:hover {
  cursor: pointer;
}

/* summary style */

/* .summary .container{
  margin-top: 1%;
  width: 70%;
  border-radius: 1%;
  border: 3px solid #F58321;
  background-color: rgb(255, 255, 255);
  font-family: "Roboto";
  font-size: 14px;
  font-weight: normal;
} */
.summary .container div div{
  margin-top:0.5%;
  padding-left: 0%;
  /* border-bottom: 1px solid #F58321; */

}

.summary .container .borderdiv{
  border-bottom: 1px solid #F58321;
}

.summary .container .title{
  margin-bottom: 1.5%;
  border-bottom: none;
  font-family: "Exo";
  font-size: 20px;
  font-weight: normal;

}
.privatePersonalInfo .container .title{
  margin-bottom: 1.5%;
  border-bottom: none;
  font-family: "Exo";
  font-size: 20px;
  font-weight: normal;

}
.businessPersonalInfo .container .title{
  margin-bottom: 1.5%;
  border-bottom: none;
  font-family: "Exo";
  font-size: 20px;
  font-weight: normal;

}
/* .SummaryButtons{
  margin-top: 1.5%;
  border-bottom: none;
} */

/* .privatePersonalInfo .container{
  width: 70%;
  border-radius: 1%;
  border: 3px solid #F58321;
  background-color: rgb(255, 255, 255);
  font-family: "Roboto";
  font-size: 14px;
  font-weight: normal;
} */
.privatePersonalInfo .container .form-group {
  /* border-bottom: 1px solid #F58321; */
  border-bottom: none;
  margin: 0%;
  padding-top: 1%;

}
.privatePersonalInfo .container .form-group label {
  padding: 0%;
}
.privatePersonalInfo .container .form-group input {
  padding: 0%;
  height: 90%;

}
.privatePersonalInfo .container .form-horizontal .form-group div {
  margin-left:2%;
  border-bottom: 1px solid #F58321;
}
.privatePersonalInfo .container .form-group span{
  float: right;
}
/* .businessPersonalInfo .container{
  width: 70%;
  border-radius: 1%;
  border: 3px solid #F58321;
  background-color: rgb(255, 255, 255);
  font-family: "Roboto";
  font-size: 14px;
  font-weight: normal;
} */

.businessPersonalInfo .container .form-group {
  /* border-bottom: 1px solid #F58321; */
  border-bottom: none;
  margin: 0%;
  padding-top: 1%;

}
.businessPersonalInfo .container .form-group label {
  padding: 0%;
}
.businessPersonalInfo .container .form-group input {
  padding: 0%;
  height: 90%;

}
.businessPersonalInfo .container .form-horizontal .form-group div {
  margin-left:2%;
  border-bottom: 1px solid #F58321;
}
.businessPersonalInfo .container .form-group span{
  float: right;
}
/* #summary{
  width: 70%;
  border-radius: 1%;
  border: 3px solid #F58321;
  background-color: rgb(255, 255, 255);
  font-family: "Roboto";
  font-size: 14px;
  font-weight: normal;
} */
/*
  #ok{
    font-family: "Exo";
  } */
.OK .container{
  margin-top: 10%;
  width: 70%;
  border-radius: 1%;
  border: 6px solid #981D28;
  background-color: rgb(255, 255, 255);
  font-family: "Roboto";
  font-size: 14px;
  font-weight: normal;
}
