<div>
  <label for="calculatorFinancingAmount" class="col-xs-6">Financing amount:</label>
  <div class="col-xs-12">
    <input 
     readonly
     formControlName="calculatorFinancingAmount"
     id="calculatorFinancingAmount"
     class="calculator-control"
     typr="text">
  </div>
  <label for="calculatorContractFee" class="col-xs-6">Contract fee:</label>
  <div class="col-xs-12">
    <input
     readonly 
     formControlName="calculatorContractFee"
     id="calculatorContractFee"
     class="calculator-control"
     typr="text">
  </div>
  <label for="calculatorTotalInterest" class="col-xs-6">Total interest:</label>
  <div class="col-xs-12">
    <input 
     readonly
     formControlName="calculatorTotalInterest"
     id="calculatorTotalInterest"
     class="calculator-control"
     typr="text">
  </div>
  <label for="calculatorTotalMonthlyPayment" class="col-xs-6">Total monthly payment:</label>
  <div class="col-xs-12">
    <input 
     readonly
     formControlName="calculatorTotalMonthlyPayment"
     id="calculatorTotalMonthlyPayment"
     class="calculator-control"
     typr="text">
  </div>
  <div>
      <button>
          Calculate
        </button>
  </div>
</div>