<!--The content below is only a placeholder and can be replaced.-->

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" routerLink="leaseForm"> Lease form </a>
      <a class="nav-item nav-link" routerLink="leaseStatus"> Lease status </a>
    </div>
  </div>
</nav>

<div>
    <h1>
        Vehicle Leasing
    </h1>
  </div>
  <!--<app-leasing-form ></app-leasing-form>-->

<!--<app-leasing-application></app-leasing-application>-->
  <router-outlet></router-outlet>
