<!--The content below is only a placeholder and can be replaced.-->
<div *ngIf="router.url!='/login'" style="overflow: hidden;">
  
  <div class="paveikslelis" style="height:1px;">
    <!-- <a  href="#"> <img  src=".\assets\swedbanko logo.png"></a> -->
    <img  src=".\assets\car4.png">
   </div>
   <div  class="logo2">
     <!-- <div class="back"></div> -->
      <!-- <a  href="#"> <img  src=".\assets\swedbanko logo.png"></a> -->
      <a  routerLink="home"> <img *ngIf="router.url!='/home'" src=".\assets\swedbanko logo grey2.png"></a>
     </div>
  
  <!-- <div class="logo" style="background-color: 2274A5;">
   <a  href="#"> <img  src=".\assets\swedbanko logo.png"></a>
  </div> -->
  <nav class="navbar navbar-default" *ngIf="router.url.split('/leasingOfficer').length==1 && router.url!='/login' && showNavbar" >
    <div class="container-fluid" style="padding-left:0%;" >
    
      <ul class="nav navbar-nav">
         <li routerLinkActive="active"> <a routerLink="home">Home</a></li>
        <!--<li routerLinkActive="active"><a routerLink="home" routerLinkActive="active">Home</a></li>-->
        <li routerLinkActive="active"><a routerLink="leaseForm" >Lease Form</a></li>
        <li routerLinkActive="active"><a routerLink="leaseStatus">Search Lease</a></li>
      </ul>
      <!--<ul class="nav navbar-nav navbar-right">-->
      <!--<li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>-->
      <!--<li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>-->
      <!--</ul>-->
    </div>
  </nav>
  </div>
  <router-outlet></router-outlet>
<!-- <footer>
  <div style="text-align:center; color:white; width:auto; font-weight: normal;">
    <h6 style="text-align:center;">Green team</h6>
    <h6 style="text-align:right;">Vilnius, Lithuania, 2018</h6> -->
      <!-- <div style="text-align:right; color:white; width:auto;">Vilnius, Lithuania, 2018</div> -->
  <!-- </div>
  
</footer> -->