
<div class="logout">
<button id="button" class="btn btn-lg btn-primary" type="submit" (click)="logout()">Logout</button>
</div>
<!--<div class="buttons">-->
  <!--<button class="btn btn-lg btn-primary" type="submit" (click)="pendingLeases()" >Pending</button>-->

  <!--<button class="btn btn-lg btn-primary" type="submit" (click)="approvedLeases()" >Approved</button>-->

  <!--<button  class="btn btn-lg btn-primary" type="submit"  (click)="declinedLeases()" >Declined</button>-->
<!--</div>-->
<!--<div class="container">-->
  <!--<div class="row">-->
    <!--<div class="col-md-6">-->
<!--<div class="tabbable tabs-left">-->
  <!--<ul class="nav nav-pills nav-stacked col-md-3">-->
  <!--<li class="tablinks" id="pendingTab"  [ngClass]="{'active': isPendingActive}"><a (click)="pendingLeases() " >Pending</a></li>-->
  <!--<li class="tablinks" id="approvedTab" [ngClass]="{'active': isApprovedActive}"><a (click)="approvedLeases()"  >Approved</a></li>-->
  <!--<li class="tablinks" id="declinedTab" [ngClass]="{'active': isDeclinedActive}"><a (click)="declinedLeases()"  >Declined</a></li>-->
  <!--</ul>-->
<!--</div>-->
    <!--</div>-->
<!--&lt;!&ndash;</ul>&ndash;&gt;-->
<!--&lt;!&ndash;<div  class="tab-content">&ndash;&gt;-->
    <!--<div class="tab-pane active">-->
<!--<table class="table">-->
  <!--<tr>-->
    <!--<th>Date</th>-->
    <!--<th>ID</th>-->
    <!--<th>Person/Business</th>-->
    <!--<th>Status</th>-->
  <!--</tr>-->

  <!--<tr *ngFor="let lease of listOfLeases">-->
    <!--<td>{{lease.date | date: 'yyyy/MM/dd'}} </td>-->
    <!--<td routerLinkActive="active"><a (click)="getSummary(lease.uniqueId)" routerLink="/leasingOfficer/leasingSummary/{{lease.uniqueId}}">{{lease.uniqueId}}</a> </td>-->
    <!--<td *ngIf="lease.customerType === 'Business'" >{{lease.companyName}} </td>-->
    <!--<td *ngIf="lease.customerType === 'Private'">  {{lease.firstName }} {{lease.lastName }}</td>-->
    <!--<td *ngIf="lease.applicationStatus == 'approved'">Application has been approved</td>-->
    <!--<td *ngIf="lease.applicationStatus != 'approved' && lease.applicationStatus != 'pending'">Application has been declined</td>-->
    <!--<td *ngIf="lease.applicationStatus == 'pending'">Application is being processed</td>-->
  <!--</tr>-->

<!--</table>-->
  <!--</div>-->
  <!--</div>-->
<!--</div>-->
<!--&lt;!&ndash;</div>&ndash;&gt;-->
<!--&lt;!&ndash;</div>&ndash;&gt;-->
<!--<div class="container">-->
  <!--<div class="row">-->

    <!--<div class="col-md-6">-->
      <!--<h3>Pills left</h3>-->
      <!--&lt;!&ndash; tabs left &ndash;&gt;-->
      <!--<div class="tabbable">-->
        <!--<ul class="nav nav-pills nav-stacked col-md-3">-->
          <!--<li><a href="#a" data-toggle="tab">One</a></li>-->
          <!--<li class="active"><a href="#b" data-toggle="tab">Two</a></li>-->
          <!--<li><a href="#c" data-toggle="tab">Twee</a></li>-->
        <!--</ul>-->
        <!--<div class="tab-content col-md-9">-->
          <!--<div class="tab-pane active" id="a">Lorem ipsum dolor sit amet, charetra varius rci quis tortor imperdiet venenatis quam sit amet vulputate. Quisque mauris augue, molestie tincidunt condimentum vitae, gravida a libero.</div>-->
          <!--<div class="tab-pane" id="b">Secondo sed ac orci quis tortor imperdiet venenatis. Duis elementum auctor accumsan. Aliquam in felis sit amet augue.</div>-->
          <!--<div class="tab-pane" id="c">Thirdamuno, ipsum dolor sit amet, consectetur adipiscing elit. Duis elementum auctor accumsan. Duis pharetra-->
            <!--varius quam sit amet vulputate. Quisque mauris augue, molestie tincidunt condimentum vitae. </div>-->
        <!--</div>-->
      <!--</div>-->
      <!--&lt;!&ndash; /tabs &ndash;&gt;-->
    <!--</div>-->
  <!--</div>-->
<!--</div>-->
<!--<div class="row">-->

  <!-- Navigation Buttons -->
  <div class="col-md-3">
    <ul class="nav nav-pills nav-stacked red" id="myTabs">
      <li class="active"><a href="#pending" data-toggle="pill" (click)="pendingLeases()" >Pending</a></li>
      <li ><a href="#approved" data-toggle="pill" (click)="approvedLeases()" >Approved</a></li>
      <li id="3"><a href="#declined" data-toggle="pill" (click)="declinedLeases()" >Declined</a></li>
    </ul>
  </div>

  <!-- Content -->
  <div class="col-md-9">
    <div class="tab-content" >
      <div class="tab-pane active" id="pending" >
        <table class="table">
        <tr>
          <th>Date</th>
          <th>ID</th>
          <th>Person/Business</th>
          <th>Status</th>
        </tr>

        <tr *ngFor="let lease of listOfLeases">
          <td>{{lease.date | date: 'yyyy/MM/dd'}} </td>
          <td routerLinkActive="active"><a (click)="getSummary(lease.uniqueId)" routerLink="/leasingOfficer/leasingSummary/{{lease.uniqueId}}">{{lease.uniqueId}}</a> </td>
          <td *ngIf="lease.customerType === 'Business'" >{{lease.companyName}} </td>
          <td *ngIf="lease.customerType === 'Private'">  {{lease.firstName }} {{lease.lastName }}</td>
          <td *ngIf="lease.applicationStatus == 'approved'">Application has been approved</td>
          <td *ngIf="lease.applicationStatus != 'approved' && lease.applicationStatus != 'pending'">Application has been declined</td>
          <td *ngIf="lease.applicationStatus == 'pending'">Application is being processed</td>
        </tr>

      </table>
      </div>
      <div class="tab-pane" id="approved" >
        <table class="table">
        <tr>
          <th>Date</th>
          <th>ID</th>
          <th>Person/Business</th>
          <th>Status</th>
        </tr>

        <tr *ngFor="let lease of listOfLeases">
          <td>{{lease.date | date: 'yyyy/MM/dd'}} </td>
          <td routerLinkActive="active"><a (click)="getSummary(lease.uniqueId)" routerLink="/leasingOfficer/leasingSummary/{{lease.uniqueId}}">{{lease.uniqueId}}</a> </td>
          <td *ngIf="lease.customerType === 'Business'" >{{lease.companyName}} </td>
          <td *ngIf="lease.customerType === 'Private'">  {{lease.firstName }} {{lease.lastName }}</td>
          <td *ngIf="lease.applicationStatus == 'approved'">Application has been approved</td>
          <td *ngIf="lease.applicationStatus != 'approved' && lease.applicationStatus != 'pending'">Application has been declined</td>
          <td *ngIf="lease.applicationStatus == 'pending'">Application is being processed</td>
        </tr>

      </table>
      </div>
      <div class="tab-pane" id="declined">
        <table class="table">
        <tr>
          <th>Date</th>
          <th>ID</th>
          <th>Person/Business</th>
          <th>Status</th>
        </tr>

        <tr *ngFor="let lease of listOfLeases">
          <td>{{lease.date | date: 'yyyy/MM/dd'}} </td>
          <td routerLinkActive="active"><a (click)="getSummary(lease.uniqueId)" routerLink="/leasingOfficer/leasingSummary/{{lease.uniqueId}}">{{lease.uniqueId}}</a> </td>
          <td *ngIf="lease.customerType === 'Business'" >{{lease.companyName}} </td>
          <td *ngIf="lease.customerType === 'Private'">  {{lease.firstName }} {{lease.lastName }}</td>
          <td *ngIf="lease.applicationStatus == 'approved'">Application has been approved</td>
          <td *ngIf="lease.applicationStatus != 'approved' && lease.applicationStatus != 'pending'">Application has been declined</td>
          <td *ngIf="lease.applicationStatus == 'pending'">Application is being processed</td>
        </tr>

      </table>
      </div>
    </div>
  </div>

<!--</div>-->
<router-outlet></router-outlet>

