input.ng-invalid.ng-touched, select.ng-invalid.ng-touched {
  /* border: 1px solid red; */
}

#address{
  /* margin: 8px 0 0 0; */
  font-size: 14px;
}

.form-check{
  margin-top : 10px;
}

.btn{
  background-color: #550C27;
  
  color: white;
  min-width: 80px;
  font-family: 'Exo';
  
  margin-bottom: 4%;
}


#phoneNumber{
  display: inline !important;
}

/* pagrindines formos stilius */

.container{
  margin-top: 3%;
  margin-bottom: 3%;
  border: 6px solid #981D28;
  background-color: rgb(255, 255, 255);
  padding: 0%;
}

form{
  padding-top: 2%;
}

/* summary style */

/* .summary .container{
  margin-top: 1%;
  width: 70%;
  border-radius: 1%;
  border: 3px solid #F58321;
  background-color: rgb(255, 255, 255);
  font-family: "Roboto";
  font-size: 14px;
  font-weight: normal;
} */
.summary .container div div{
  margin-top:0.5%;
  /* padding-left: 0%; */
  /* border-bottom: 1px solid #F58321; */

}

.summary .container .borderdiv{
  /* background-color: #EBDEDE; */
  /* background-color:rgb(196, 147, 151); */
  /* width:100%; */
  /* border-bottom: 1px solid #F58321; */
}

.summary .container .title{
  margin-bottom: 1.5%;
  border-bottom: none;
  text-align:center;
  font-family: "Exo";
  font-size: 20px;
  font-weight: normal;

}

.first{
  /* background-color: #DEEAF1; */
  /* background-color: rgb(245, 239, 239); */
  /* background-color: rgb(235, 222, 222); */
  padding: 0%;
  padding-top: 0.5%;
  padding-bottom: 0.5%;
  border-bottom: 2px solid #DDDDDD;
  
  }
  
  .second{
    padding: 0%;
    padding-top: 0.5%;
  padding-bottom: 0.5%;
  border-bottom: 2px solid #DDDDDD;
    /* background-color: #FF8A5B; */
  }

.privatePersonalInfo .container .title{
  margin-bottom: 1.5%;
  border-bottom: none;
  font-family: "Exo";
  font-size: 20px;
  font-weight: normal;

}
.businessPersonalInfo .container .title{
  margin-bottom: 1.5%;
  border-bottom: none;
  font-family: "Exo";
  font-size: 20px;
  font-weight: normal;

}
/* .SummaryButtons{
  margin-top: 1.5%;
  border-bottom: none;
} */

/* .privatePersonalInfo .container{
  width: 70%;
  border-radius: 1%;
  border: 3px solid #F58321;
  background-color: rgb(255, 255, 255);
  font-family: "Roboto";
  font-size: 14px;
  font-weight: normal;
} */
.privatePersonalInfo .container .form-group {
  /* border-bottom: 1px solid #F58321; */
  border-bottom: none;
  margin: 0%;
  padding-top: 1%;

}
.privatePersonalInfo .container .form-group label {
  padding: 0%;
}
.privatePersonalInfo .container .form-group input {
  padding: 0%;
  height: 90%;

}
/* .privatePersonalInfo .container .form-horizontal .form-group div {
  margin-left:2%;
  border-bottom: 1px solid #F58321;
}
.privatePersonalInfo .container .form-group span{
  float: right;
} */
/* .businessPersonalInfo .container{
  width: 70%;
  border-radius: 1%;
  border: 3px solid #F58321;
  background-color: rgb(255, 255, 255);
  font-family: "Roboto";
  font-size: 14px;
  font-weight: normal;
} */

.businessPersonalInfo .container .form-group {
  /* border-bottom: 1px solid #F58321; */
  border-bottom: none;
  margin: 0%;
  padding-top: 1%;

}
.businessPersonalInfo .container .form-group label {
  padding: 0%;
}
.businessPersonalInfo .container .form-group input {
  padding: 0%;
  height: 90%;

}
.businessPersonalInfo .container .form-horizontal .form-group div {
  margin-left:2%;
  border-bottom: 1px solid #F58321;
}
.businessPersonalInfo .container .form-group span{
  float: right;
}
/* #summary{
  width: 70%;
  border-radius: 1%;
  border: 3px solid #F58321;
  background-color: rgb(255, 255, 255);
  font-family: "Roboto";
  font-size: 14px;
  font-weight: normal;
} */
/*
  #ok{
    font-family: "Exo";
  } */
.OK .container{
  margin-top: 6%;
  width: 70%;
  /* border-radius: 1%; */
  border: 6px solid #981D28;
  background-color: rgb(255, 255, 255);
  font-family: "Roboto";
  font-size: 14px;
  font-weight: normal;
}
