<div class="privatePersonalInfo" *ngIf="showElement && vehicleService.leaseObject.customerType === 'Private'">
  <!-- <div class="container" *ngIf="showCustomerForm && leaseForm.get('customerType').value === 'Private'"> -->
  <div class="container">
    <form class="form-horizontal" [formGroup]="privateForm">
      <div class="col-xs-12 title" >
        <h3>PERSONAL INFORMATION</h3>
      </div>
      <div class="form-group">
        <!-- <div class="col-xs-offset-2 col-xs-2 "><label class="labels" for="firstName" >FIRST NAME</label></div> -->
        <label for="personalID" class="control-label col-xs-4">FIRST NAME</label>
        <div class="col-xs-5">
          <input
            formControlName="firstName"
            id="firstName"
            class="form-control"
            type="text">
        </div>
        <span class="col-xs-3" *ngIf="privateForm.get('firstName').invalid && privateForm.get('firstName').touched"
              class="label label-warning">Only alphabetic values. Required field.</span>

      </div>

      <div class="form-group">
        <label for="personalID" class="control-label col-xs-4">LAST NAME</label>
        <div class="col-xs-5">
          <input
            formControlName="lastName"
            id="lastName"
            class="form-control"
            type="text">

        </div>
        <span class="col-xs-3" *ngIf="privateForm.get('lastName').invalid && privateForm.get('lastName').touched"
              class="label label-warning">Only alphabetic values. Required field.</span>
      </div>

      <div class="form-group">
        <label for="personalID" class="control-label col-xs-4">ID CODE</label>
        <div class="col-xs-5">
          <input
            formControlName="personalID"
            id="personalID"
            class="form-control"
            type="text">
        </div>
        <span class="col-xs-3" *ngIf="privateForm.get('personalID').invalid && privateForm.get('personalID').touched"
              class="label label-warning">Only numeric values. Required field.</span>
      </div>

      <div class="form-group">
        <label for="email" class="control-label col-xs-4">EMAIL</label>
        <div class="col-xs-5">
          <input
            formControlName="email"
            id="email"
            class="form-control"
            type="text">
        </div>
        <span class="col-xs-3" *ngIf="privateForm.get('email').invalid && privateForm.get('email').touched"
              class="label label-warning">Invalid email. Required field.</span>
      </div>


      <div class="form-group">
        <label for="phoneNumber" class="control-label col-xs-4">PHONE NUMBER</label>
        <div  id="phoneNumber" class="col-xs-5">
          <label class=" control-label col-xs-1" style="background-color:#d3d3d3;">+</label>
          <div class="col-xs-8" style="border-bottom: none;">
            <input
              formControlName="phoneNumber"

              class="form-control"
              type="text">
          </div>
        </div>
        <span class="col-xs-3" *ngIf="privateForm.get('phoneNumber').invalid && privateForm.get('phoneNumber').touched"
              class="label label-warning">Only numeric values. Required field.</span>
      </div>

      <div class="row">
        <label class="control-label col-xs-4" id="address">ADDRESS</label>
      </div>

      <div class="form-group">
        <label for="street" class="control-label col-xs-4">street</label>
        <div class="col-xs-5">
          <input
            formControlName="street"
            id="street"
            class="form-control"
            type="text">

        </div>
        <span class="col-xs-3" *ngIf="privateForm.get('street').invalid && privateForm.get('street').touched"
              class="label label-warning">Invalid street. Required field.</span>
      </div>

      <div class="form-group">
        <label for="city" class="control-label col-xs-4">city</label>
        <div class="col-xs-5">
          <input
            formControlName="city"
            id="city"
            class="form-control"
            type="text">

        </div>
        <span class="col-xs-3" *ngIf="privateForm.get('city').invalid && privateForm.get('city').touched"
              class="label label-warning">Invalid city. Required field.</span>
      </div>


      <div class="form-group">
        <label for="postCode" class="control-label col-xs-4">post code</label>
        <div class="col-xs-5">
          <input
            formControlName="postCode"
            id="postCode"
            class="form-control"
            type="text">

        </div>
        <span class="col-xs-3" *ngIf="privateForm.get('postCode').invalid && privateForm.get('postCode').touched"
              class="label label-warning">Invalid post code, eg. LTxxxxx Required field.</span>
      </div>

      <div class="form-group">
        <label for="country" class="control-label col-xs-4">country</label>
        <div class="col-xs-5">
          <input
            formControlName="country"
            id="country"
            class="form-control"
            type="text">
        </div>
        <span class="col-xs-3" *ngIf="privateForm.get('country').invalid && privateForm.get('country').touched"
              class="label label-warning">Invalid country. Required field.</span>
      </div>


      <div class="form-check col-xs-offset-4">
        <input style="margin-left:3.5%;"
               type="checkbox"
               formControlName="checkbox"
               class="filled-in form-check-input"
               id="checkbox"
               [(ngModel)]="isCheckboxChecked">
        <label for="checkbox" class="form-check-label">I accept terms and conditions</label>
        <span class="col-xs-3" *ngIf="privateForm.get('checkbox').touched && !isCheckboxChecked"
              class="label label-warning">You must accept terms and conditions</span>
      </div>
      <!-- <div class="form-group button-group row" >
        <div class="col-xs-offset-3">
          <button (click)="goBackToSummary()" name="submit1" type="submit" class="btn">Back</button>
          <button (click)="submit()" [disabled]="!privateForm.valid || !isCheckboxChecked" name="submit2" type="submit" class="btn">Submit</button>
        </div>
      </div> -->

    </form>
    <div class="form-group button-group row " style="border-bottom:none; margin-top:2%;">
      <div class="col-xs-1 SummaryButtons" style="border-bottom:none; margin-top:2%;">
        <button  (click)="goBackToSummary()" name="submit1" type="submit" class="btn">Back</button>
      </div>
      <div class="col-xs-offset-9 col-xs-2 SummaryButtons"  style="border-bottom:none; margin-top:2%;">
        <button style="margin-left:38%;"  (click)="submit()" [disabled]="!privateForm.valid || !isCheckboxChecked" name="submit2" type="submit" class="btn">Submit</button>
      </div>
    </div>
  </div>
</div>
