<form class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
  <div  class="col-lg-2 col-md-2 col-sm-12 col-xs-12" style="padding:0%;">
  <label class="id">Your application ID : </label>
</div>
  <div class="form-group col-lg-2 col-md-2 col-sm-12 col-xs-12">
    <input type="text" [(ngModel)]="leaseID" name="leaseID" class="form-control">
  </div>
  <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
  <button type="submit" (click)="onSearchClick()" class="btn btn-default">Search</button>
</div>
</form>

<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 allForm" *ngIf="response!=null && infoIsShown && !isError">

  <div *ngIf="response.applicationStatus == 'pending'">
  <h2 *ngIf="response.applicationStatus == null; then statusNull else statusNotNull"></h2>
  <ng-template #statusNotNull ><b>Status: </b>Application is being processed</ng-template>
  <ng-template #statusNull><b>Status: </b>not found</ng-template>
  </div>

  <div *ngIf="response.applicationStatus == 'approved'">
    <h2 *ngIf="response.applicationStatus == null; then statusNull else statusNotNull"></h2>
    <ng-template #statusNotNull ><b>Status: </b>Application is approved</ng-template>
    <ng-template #statusNull><b>Status: </b>not found</ng-template>
  </div>

  <div *ngIf="response.applicationStatus == 'denied'">
    <h2 *ngIf="response.applicationStatus == null; then statusNull else statusNotNull"></h2>
    <ng-template #statusNotNull ><b>Status: </b>Application is denied</ng-template>
    <ng-template #statusNull><b>Status: </b>not found</ng-template>
  </div>

<h4 *ngIf="response.customerType == 'Private'"><b>Customer: </b>{{response.firstName}} {{response.lastName}}</h4>
  <h4 *ngIf="response.customerType == 'Business'"><b>Customer: </b>{{response.companyName}} {{response.companyCode}}</h4>

  <div id="summary_div" class="container">

  <div class="row first col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">CUSTOMER TYPE</div>
    <div class="col-lg-8 col-md-6 col-sm-6 col-xs-12 borderdiv">{{response.customerType}}</div>
  </div>

  <div class="row second col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">ASSET TYPE</div>
    <div class="col-lg-8 col-md-6 col-sm-6 col-xs-12 borderdiv">{{response.assetType}}</div>
  </div>

  <div class="row first col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">BRAND</div>
    <div class="col-lg-8 col-md-6 col-sm-6 col-xs-12 borderdiv">{{response.brand}}</div>
  </div>
  <div class="row second col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">MODEL</div>
    <div class="col-lg-8 col-md-6 col-sm-6 col-xs-12 borderdiv">{{response.model}}</div>
  </div>
  <div class="row first col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">YEAR</div>
    <div class="col-lg-8 col-md-6 col-sm-6 col-xs-12 borderdiv">{{response.year}}</div>
  </div>
  <div class="row second col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">ENGINE POWER  </div>
    <div class="col-lg-8 col-md-6 col-sm-6 col-xs-12 borderdiv">{{response.enginePower}} kW</div>
  </div>
  <div class="row first col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">ASSET PRICE </div>
    <div class="col-lg-8 col-md-6 col-sm-6 col-xs-12 borderdiv"> {{response.assetPrice}} €</div>
  </div>
  <div class="row second col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">ADVANCE PAYMENT PERCENTAGE</div>
    <div class="col-lg-8 col-md-6 col-sm-6 col-xs-12 borderdiv">{{response.advancePaymentPercentage}} %</div>
  </div>
  <div class="row first col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">ADVANCE PAYMENT AMOUNT</div>
    <div class="col-lg-8 col-md-6 col-sm-6 col-xs-12 borderdiv">{{response.advancePaymentAmount}} €</div>
  </div>
  <div class="row second col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">LEASE PERIOD </div>
    <div class="col-lg-8 col-md-6 col-sm-6 col-xs-12 borderdiv">{{response.leasePeriod}}</div>
  </div>
  <div class="row first col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">MARGIN </div>
    <div class="col-lg-8 col-md-6 col-sm-6 col-xs-12 borderdiv">{{response.margin}} %</div>
  </div>
  <div class="row second col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">CONTRACT FEE </div>
    <div class="col-lg-8 col-md-6 col-sm-6 col-xs-12 borderdiv">{{response.contractFee}} €</div>
  </div>
  <div class="row first col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">PAYMENT DATE </div>
    <div class="col-lg-8 col-md-6 col-sm-6 col-xs-12 borderdiv">{{response.paymentDate}}</div>
  </div>
  </div>

  <h3 *ngIf="response.applicationStatus == 'Application is being processed'">Payment schedule :</h3>

  <div id="calendar_div" class="container" *ngIf="response.applicationStatus == 'Application is being processed'">

    <table class="table table-dark">
      <thead>
      <tr>
        <th scope="col">Date</th>
        <th scope="col">Unpaid Asset Amount</th>
        <th scope="col">Unpaid Asset Repayment Amount</th>
        <th scope="col">Interest Amount</th>
        <th scope="col">Total Payment Amount</th>
      </tr>
      </thead>

      <tbody *ngFor="let payment of scheduleResponse">

        <tr>
          <td>{{payment.date.substring(0, 10)}}</td>
          <td>{{payment.unpaidAssetAmount.toFixed(2)}}</td>
          <td>{{payment.unpaidAssetRepaymentAmount.toFixed(2)}}</td>
          <td>{{payment.interestAmount.toFixed(2)}}</td>
          <td>{{payment.totalPaymentAmount.toFixed(2)}}</td>
        </tr>


      </tbody>

    <!--<tbody>-->
    <!--<tr>-->
      <!--<th scope="row">Total</th>-->
      <!--<td></td>-->
      <!--<td>{{scheduleResponse[0].unpaidAssetAmount.toFixed(2)}}</td>-->
      <!--<td>{{scheduleService.getTotalInterestAmount(scheduleResponse).toFixed(2)}}</td>-->
      <!--<td>{{(scheduleResponse[0].unpaidAssetAmount + scheduleService.getTotalInterestAmount(scheduleResponse)).toFixed(2)}}</td>-->
    <!--</tr>-->
    <!--</tbody>-->

    </table>
  </div>

</div>
</div>

<div class="status_div col-lg-12 col-md-12 col-sm-12 col-xs-12" *ngIf="infoIsShown && isError">
  <h3>Application not found.</h3>
</div>




