<form class="navbar-form">
  <label>Your application ID : </label>
  <div class="form-group">
    <input type="text" [(ngModel)]="leaseID" name="leaseID" class="form-control">
  </div>
  <button type="submit" (click)="onSearchClick()" class="btn btn-default">Search</button>
</form>

<div id="status_div" *ngIf="infoIsShown">
 <h2><b>Status:  </b> {{response.applicationStatus}}</h2>
<h4 *ngIf="response.customerType == 'Private'"><b>Customer: </b>{{response.firstName}} {{response.lastName}}</h4>
  <h4 *ngIf="response.customerType == 'Business'"><b>Customer: </b>{{response.companyName}} {{response.companyCode}}</h4>
  <div class="row">
    <div class="col-xs-5">CUSTOMER TYPE</div>
    <div class="col-xs-7 borderdiv">{{response.customerType}}</div>
  </div>
  <div class="row">
    <div class="col-xs-5">ASSET TYPE</div>
    <div class="col-xs-7 borderdiv">{{response.assetType}}</div>
  </div>
  <div class="row">
    <div class="col-xs-5">BRAND</div>
    <div class="col-xs-7 borderdiv">{{response.brand}}</div>
  </div>
  <div class="row">
    <div class="col-xs-5">MODEL</div>
    <div class="col-xs-7 borderdiv">{{response.model}}</div>
  </div>
  <div class="row">
    <div class="col-xs-5">YEAR</div>
    <div class="col-xs-7 borderdiv">{{response.year}}</div>
  </div>
  <div class="row">
    <div class="col-xs-5">ENGINE POWER  </div>
    <div class="col-xs-7 borderdiv">{{response.enginePower}} kW</div>
  </div>
  <div class="row">
    <div class="col-xs-5">ASSET PRICE </div>
    <div class="col-xs-7 borderdiv"> {{response.assetPrice}} €</div>
  </div>
  <div class="row">
    <div class="col-xs-5">ADVANCE PAYMENT PERCENTAGE</div>
    <div class="col-xs-7 borderdiv">{{response.advancePaymentPercentage}} %</div>
  </div>
  <div class="row">
    <div class="col-xs-5">ADVANCE PAYMENT AMOUNT</div>
    <div class="col-xs-7 borderdiv">{{response.advancePaymentAmount}} €</div>
  </div>
  <div class="row">
    <div class="col-xs-5">LEASE PERIOD </div>
    <div class="col-xs-7 borderdiv">{{response.leasePeriod}}</div>
  </div>
  <div class="row">
    <div class="col-xs-5">MARGIN </div>
    <div class="col-xs-7 borderdiv">{{response.margin}} %</div>
  </div>
  <div class="row">
    <div class="col-xs-5">CONTRACT FEE </div>
    <div class="col-xs-7 borderdiv">{{response.contractFee}} €</div>
  </div>
  <div class="row">
    <div class="col-xs-5">PAYMENT DATE </div>
    <div class="col-xs-7 borderdiv">{{response.paymentDate}}</div>
  </div>
</div>




