<div class="privatePersonalInfo" *ngIf="showElement && leaseService.leaseObject.customerType === 'Private'">
    <!-- <div class="container" *ngIf="showCustomerForm && leaseForm.get('customerType').value === 'Private'"> -->
      <div class="col-lg-2 col-md-2 col-sm-1 col-xs-1"></div>
      <div class="container  col-lg-8 col-md-8 col-sm-10 col-xs-10">
      <form class="form-horizontal col-lg-12 col-md-12 col-sm-12 col-xs-12" [formGroup]="privateForm">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 title" >
          <h3>PRIVATE CUSTOMER INFORMATION</h3>
        </div>
        <div class="form-group">
          <!-- <div class="col-xs-offset-2 col-xs-2 "><label class="labels" for="firstName" >FIRST NAME</label></div> -->
          <label for="personalID" class="col-lg-4 col-md-12 col-sm-12 col-xs-12">FIRST NAME</label>
          <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
            <input
              formControlName="firstName"
              id="firstName"
              class="form-control"
              type="text">
          </div>
          <span class="col-lg-12 col-md-12 col-sm-12 col-xs-12" *ngIf="privateForm.get('firstName').invalid && (privateForm.get('firstName').touched || showErrorMessages)"
          class="label label-danger">Only alphabetic values. Required field.</span>
        </div>
       
  
  
        <div class="form-group">
          <label for="personalID" class="col-lg-4 col-md-12 col-sm-12 col-xs-12">LAST NAME</label>
          <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
            <input
              formControlName="lastName"
              id="lastName"
              class="form-control"
              type="text">
  
          </div>
          <span class="col-lg-12 col-md-12 col-sm-12 col-xs-12" *ngIf="privateForm.get('lastName').invalid && (privateForm.get('lastName').touched || showErrorMessages)"
                class="label label-danger">Only alphabetic values. Required field.</span>
        </div>
        
  
        <div class="form-group">
          <label for="personalID" class="col-lg-4 col-md-12 col-sm-12 col-xs-12">ID CODE</label>
          <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
            <input
              formControlName="personalID"
              id="personalID"
              class="form-control"
              type="text">
          </div>
          <span class="col-lg-12 col-md-12 col-sm-12 col-xs-12" *ngIf="privateForm.get('personalID').invalid && (privateForm.get('personalID').touched || showErrorMessages )"
                class="label label-danger">Only numeric values. Required field.</span>
        </div>
        
  
        <div class="form-group">
          <label for="email" class="col-lg-4 col-md-12 col-sm-12 col-xs-12">EMAIL</label>
          <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
            <input
              formControlName="email"
              id="email"
              class="form-control"
              type="text">
          </div>
          <span class="col-lg-12 col-md-12 col-sm-12 col-xs-12" *ngIf="privateForm.get('email').invalid && (privateForm.get('email').touched || showErrorMessages )"
          class="label label-danger">Invalid email. Required field.</span>
        </div>
       
  
  
        <div class="form-group">
          <label for="phoneNumber" class="col-lg-4 col-md-12 col-sm-12 col-xs-12">PHONE NUMBER</label>
          <div  id="phoneNumber" class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
            <label class=" control-label col-lg-1 col-md-1 col-sm-1 col-xs-1" style="background-color:#d3d3d3;">+</label>
            <div class="col-lg-11 col-md-11 col-sm-11 col-xs-11" style="border-bottom: none;">
              <input
                formControlName="phoneNumber"
  
                class="form-control"
                type="text">
            </div>
            <span class="col-lg-11 col-md-11 col-sm-11 col-xs-11" *ngIf="privateForm.get('phoneNumber').invalid && (privateForm.get('phoneNumber').touched || showErrorMessages)"
          class="label label-danger">Only numeric values. Required field.</span>
          </div>
          
        </div>
       
  
        <div class="row form-group">
          <label class="col-lg-4 col-lg-offset-8 col-md-12 col-sm-12 col-xs-12" id="address">ADDRESS</label>
        </div>
  
        <div class="form-group">
          <label for="street" class="col-lg-4 col-md-12 col-sm-12 col-xs-12">street</label>
          <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
            <input
              formControlName="street"
              id="street"
              class="form-control"
              type="text">
  
          </div>
          <span class="col-lg-12 col-md-12 col-sm-12 col-xs-12" *ngIf="privateForm.get('street').invalid && (privateForm.get('street').touched || showErrorMessages)"
                class="label label-danger">Invalid street. Required field.</span>
        </div>
        
  
        <div class="form-group">
          <label for="city" class="col-lg-4 col-md-12 col-sm-12 col-xs-12">city</label>
          <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
            <input
              formControlName="city"
              id="city"
              class="form-control"
              type="text">
  
          </div>
          <span class="col-lg-12 col-md-12 col-sm-12 col-xs-12" *ngIf="privateForm.get('city').invalid && (privateForm.get('city').touched || showErrorMessages) "
                class="label label-danger">Invalid city. Required field.</span>
        </div>
        
  
  
        <div class="form-group">
          <label for="postCode" class="col-lg-4 col-md-12 col-sm-12 col-xs-12">post code</label>
          <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
            <input
              formControlName="postCode"
              id="postCode"
              class="form-control"
              type="text">
  
          </div>
          <span class="col-lg-12 col-md-12 col-sm-12 col-xs-12" *ngIf="privateForm.get('postCode').invalid && (privateForm.get('postCode').touched || showErrorMessages) "
                class="label label-danger">Invalid post code, eg. LTxxxxx Required field.</span>
        </div>
        
  
        <div class="form-group">
          <label for="country" class="col-lg-4 col-md-12 col-sm-12 col-xs-12">country</label>
          <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
            <input
              formControlName="country"
              id="country"
              class="form-control"
              type="text">
          </div>
          <span class="col-lg-12 col-md-12 col-sm-12 col-xs-12" *ngIf="privateForm.get('country').invalid && (privateForm.get('country').touched || showErrorMessages) "
                class="label label-danger">Invalid country. Required field.</span>
        </div>
        
  
  
        <div class="form-check col-xs-offset-4">
          <input style="margin-left:3.5%;"
                 type="checkbox"
                 formControlName="checkbox"
                 class="filled-in form-check-input"
                 id="checkbox"
                 [(ngModel)]="isCheckboxChecked">
          <label for="checkbox" class="form-check-label">I accept terms and conditions</label>
          <span class="col-lg-12 col-md-12 col-sm-12 col-xs-12" *ngIf="(privateForm.get('checkbox').touched || showErrorMessages) && !isCheckboxChecked"
          class="label label-danger">You must accept terms and conditions</span>
        </div>
       
        <!-- <div class="form-group button-group row" >
          <div class="col-xs-offset-3">
            <button (click)="goBackToSummary()" name="submit1" type="submit" class="btn">Back</button>
            <button (click)="submit()" [disabled]="!privateForm.valid || !isCheckboxChecked" name="submit2" type="submit" class="btn">Submit</button>
          </div>
        </div> -->
        
      </form>
      <div class="form-group button-group row col-lg-12 col-md-12 col-sm-12 col-xs-12" style="border-bottom:none; margin-top:2%;">
          <div class="col-lg-2 col-md-12 col-sm-12 col-xs-12 SummaryButtons" style="border-bottom:none; margin-top:2%;">
            <button  style="width: 100%;" (click)="goBackToSummary()" name="submit1" type="submit" class="btn">Back</button>
          </div>
          <div class="col-lg-offset-8 col-lg-2 col-md-12 col-sm-12 col-xs-12 SummaryButtons"  style="border-bottom:none; margin-top:2%;">
            <button style="width: 100%;"  (click)="submit()" name="submit2" type="submit" class="btn">Submit</button>
          </div>
        </div>
    </div>
    <div class="col-lg-2 col-md-2 col-sm-1 col-xs-1" ></div>
  </div>
  