<div class="container col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="col-lg-4 col-md-4 col-sm-2 col-xs-2" style="height:25px;"></div>
  <!-- <div class="col-lg-offset-4 col-lg-4 col-md-offset-4 col-md-4 col-sm-offset-2 col-sm-8 col-xs-offset-2 col-xs-8"> -->
<div class="logodiv col-lg-4 col-md-4 col-sm-8 col-xs-8">
    <img class="logo" src=".\assets\domologo2.png"/>
</div>
<div class="col-lg-4 col-md-4 col-sm-2 col-xs-2" style="height:25px;"></div>
</div>

<div class="container col-lg-12 col-md-12 col-sm-12 col-xs-12">
<h1>How to get a vehicle lease?</h1>
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="margin:auto;">
  <div class="steps col-lg-3 col-md-3 col-sm-11 col-xs-11">
    <h3>1.</h3>
    Fill in car lease form. Check your preliminary calculation and payment shedule.</div>
  <div class="steps col-lg-3 col-md-3 col-sm-11 col-xs-11">
      <h3>2.</h3>
    Provide personal information and submit your application. </div>
  <div class="steps col-lg-3 col-md-3 col-sm-11 col-xs-11">
      <h3>3.</h3>
     Check your leasing application status. </div>
</div>
</div>



<div class="container col-lg-12 col-md-12 col-sm-12 col-xs-12">
<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12" style="text-align:center; position: relative;">
  <div class="col-lg-2 col-md-2 col-sm-1 col-xs-1"></div>
  <!--  padding-left:93px; padding-right:45px; -->
  <div class="col-lg-8 col-md-8 col-sm-10 col-xs-10">
  <div style="background-color:#981D28; color:white; width: 100%; "><h3 style="padding-bottom:0%; ">APPLY FOR LEASE</h3></div>
  <a routerLink="leaseForm"><img class="buttonsimg" src=".\assets\carimage3.jpg"></a>
 
  </div>
  <div class="col-lg-2 col-md-2 col-sm-1 col-xs-1"></div>
<!-- <button class="btn btn-dark">Get started</button> -->
</div>
<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12" style="text-align:center;">
    <div class="col-lg-2 col-md-2 col-sm-1 col-xs-1"></div>
    <!--  padding-left:93px; padding-right:45px; -->
    <div class="col-lg-8 col-md-8 col-sm-10 col-xs-10">
    <div style="background-color:#981D28; color:white; width: 100%; "><h3 style="padding-bottom:0%; ">CHECK YOUR LEASE</h3></div>
    <a routerLink="leaseStatus"><img class="buttonsimg" src=".\assets\carimage4.jpg"></a>
    </div>
    <div class="col-lg-2 col-md-2 col-sm-1 col-xs-1"></div>


  <!--  padding-right:97px; padding-left:45px; -->
    <!-- <img class="buttonsimg" src=".\assets\carimage4.jpg">
    <div class="text" ><h3>SEARCH YOUR LEASE</h3></div> -->
    <!-- <button class="btn btn-dark">Get started</button> -->
    <!-- </div> -->
</div>
</div>
<!-- <div class="container col-lg-12 col-md-12 col-sm-12 col-xs-12" style="padding:0%;height:170px; overflow:hidden; opacity:0.5;">
    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12" style="padding:0%;">
      <img src=".\assets\carimage3.jpg" style="width:100%;">
    </div>
    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12" style="padding:0%;">
        <img src=".\assets\buttoncar1.jpg" style="width:100%;">
    </div>
    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12" style="padding:0%;">
      <img src=".\assets\buttoncar2.jpg" style="width:100%;">
    </div>
    </div> -->
    <div class="ontainer col-lg-12 col-md-12 col-sm-12 col-xs-12" style="height:20px;"></div>
    <router-outlet></router-outlet>