.container{
    margin-top: 0%;
}

.logo{
    width:100%;
    text-align: center;
    margin-top:-20px;
    
}

.logodiv{
    padding:0%;
    text-align: center;
}

@media only screen and (max-width: 720px) and (max-width: 320px) {
    .logo{
        width:100%;
        text-align: center;
        margin-top: 0px;
        margin-bottom:-30px;
        
    }
}


h1{
    text-align: center;
    font-family: 'Exo';
}

.steps{
    margin-left: 5%;
    margin-right: 3%;
    margin-top: 1%;
    margin-bottom: 1%;
    background-color: #981D28;
    height: 150px;
    font-family: 'Exo';
    font-size: 16px;
    color: white;
    text-align: center;
    padding-top:10px;
}

.buttonsimg{
    /* margin:0%; */
    /* margin-left: 7%; */
    width: 100%;
    /* border-radius: 5%; */
    /* position: absolute; */
}
.buttonsimg:hover {
    opacity: 0.7;
}

button:hover + .buttons{
    opacity: 0.7;
}

.text{
    position: sticky;
    text-align: center;
    font-family: 'Exo';
    color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    pointer-events: none;
}
a{
    color:white;
}
a:hover{
    text-decoration: none;
    color:white;
}

